{% extends 'base.html' %}
{% block body %}

<div class="container" style="padding-top: 45px; padding-bottom:45px; padding-left:175px;">
    <div class="card" style="width: 48rem;">
        <img src="{{post.image.url}}" class="rounded mx-auto d-block" style="width:80%" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{post.title}}</h5>
          <small>{{post.date}}</small>
          <p class="card-text">{{post.content}}</p>
            {% if user.is_authenticated %}
          <a href="{% url 'delete' post.id %}" class="btn btn-danger">Sil</a>
          <a href="{% url 'update' post.id %}" class="btn btn-success">Güncelle</a>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}